[submodule "externals/SharpCrush"]
	path = externals/SharpCrush
	url = git://github.com/MediaCrush/SharpCrush.git
[submodule "externals/cecil"]
	path = externals/cecil
	url = git://github.com/mono/cecil.git
